<p>
  <label class="label">New fuel stop:</label>
  <input [(ngModel)]="newFuelStop.mileage" type="number" placeholder="Enter mileage">
  <input [(ngModel)]="newFuelStop.fuel" type="number" placeholder="Litres added">
  <ons-button modifier="outline" class="button" (click)="addStop()">Add</ons-button>
</p>

<ons-list-title>Fuel Stops</ons-list-title>
<ons-list>
  <!--<ons-list-header>-->
    <!--Normal List Items-->
  <!--</ons-list-header>-->
  <ons-list-item *ngFor="let stop of fuelLog.fuelStops">
    <div class="center">
      Mileage <span>{{stop.mileage}}</span>
      Fuel <span>{{stop.fuel}}</span>
    </div>
  </ons-list-item>
  <p style="text-align: center">
    <ons-button (click)="alert()">Click me!</ons-button>
  </p>
</ons-list>



